/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color:#1803D7;
}

h1 {
  font-style: italic;
  color: #373fff;
}

#Titleimage {
  height: 300px;
  width: 60%;
  text-align: center;
  
}
p {
  padding: 10px;
  position: relative;
  border: solid;
  background: red;
}